altgraph==0.16.1
argh==0.26.2
autopep8==1.4.3
boto3==1.9.73
botocore==1.12.73
certifi==2018.11.29
chardet==3.0.4
docutils==0.14
entrypoints==0.3
enzyme==0.4.1
fbs==0.6.2
flake8==3.6.0
future==0.17.1
idna==2.8
jmespath==0.9.3
keyring==17.1.1
macholib==1.11
mccabe==0.6.1
pathtools==0.1.2
pefile==2018.8.8
pycodestyle==2.4.0
pycryptodome==3.7.3
pyflakes==2.0.0
PyInstaller==3.4
PySide2==5.12.0
python-dateutil==2.7.5
pywin32==224
PyYAML==3.13
requests==2.21.0
ruamel.yaml==0.15.85
s3transfer==0.1.13
shiboken2==5.12.0
six==1.12.0
urllib3==1.24.1
virtualenv==16.2.0
virtualenvwrapper-win==1.2.5
watchdog==0.9.0
websocket-client==0.54.0
